<title>Result - Crypto Converter</title>
</head>
<body>
  <h1>Conversion Result</h1>
  <p>You would get <%= convertedAmount %> <%= symbol2 %> for <%= amount %> <%= symbol1 %></p>
  <p><a href="/">Convert another amount</a></p>
</body>
</html>
